options:
units:
  x:
    path%: "$HOME/Documents/x"
    y: "set-x y"
  a:
    path%: "$HOME/Documents/a"
    b:
      path%: "b"
      c: "use-a -b c"
  fn: |
    cd $1
    echo -e "cd into $1"
  link: $(a.b.c)
